[submodule "cambl"]
	path = cambl
	url = https://github.com/jwiegley/cambl.git
[submodule "periods"]
	path = periods
	url = https://github.com/jwiegley/periods.git
[submodule "ledger"]
	path = ledger
	url = https://github.com/ledger/ledger.git
